<div class="row">
  <div class="col-12 mt-4">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading title d-flex flex-row">
          <mat-icon> description </mat-icon>
          Company
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2">
        <mat-card class="text-center mb-3 border-radius-0 cv-mat-card">
            <app-place-holder id="position00"></app-place-holder>
        </mat-card>
      </div>
    </div>
  </div>
</div>
