<div class="data-count-card-a3 card d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="left-block d-flex flex-column align-items-center justify-content-center">
            <span>
                10
            </span>
            <span>
                Total
            </span>
        </div>
        <mat-divider class="vertical-devider" [vertical]="true"></mat-divider>
        <div class="right-block d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <span>
                    5
                </span>
                <span>
                    Normal
                </span>
            </div>
            <mat-divider class="horizontal-devider"></mat-divider>
            <div class="d-flex flex-column  align-items-center justify-content-center">
                <span>
                    5
                </span>
                <span>
                    Delayed
                </span>
            </div>
    
        </div>
    </div>
    
    <div class="title text-center">
        Case Type 1
    </div>
</div>