
ul {
  list-style-type: none;
  display: inline-block;
  text-align: left;
}

 .header{
  color: var(--background-and-title-text);
  font-weight: var(--font-bold);
}


img{
  width: 35px;
  margin-right: 20px;
  margin-bottom: 28px;
  
}