.ellipsis {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-card {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--mat-background);
}

.icon {
    color: var(--theme-color);
    cursor: pointer;
}

.mat-header-cell div,
.mat-header-cell span {
    font-weight: bolder;
    font-size: var(--normal-font-size);
    color: var(--text-dark-color);
}

.mat-cell,
.mat-footer-cell,
.mat-header-cell span,
.mat-header-cell div  {
    color: var(--label-color) !important;
}

.icon{
   color: var(--theme-color);
   cursor: pointer;
}