<!-- <button class="navbar-toggler" id="myCheck" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbarlist mt-lg-5 list-group d-none d-md-block" style="padding-left: 10px;">
        <app-place-holder id="position999"></app-place-holder>

    </div>
    <ul class="navbarlist">
        <li>
            <div class="btn-group dropright w-100">
                <button type="button" class="btn btn-secondary logout" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="onLogout()" (mouseenter)="openlist2($event)">
                    <span class="float-left">Log Out</span> <i class="material-icons mat_icon_size pointer float-right menuicon"> power_settings_new
                    </i>
                </button>
                <div class="dropdown-menu">

                </div>
            </div>
        </li>
    </ul>

</div>
 -->



<!-- <div class="main">

  <div class="row justify-content-center">
      <div class="col bg-dark">asfaf a</div>
      <div class="col bg-primary">asfaf a</div>
  </div>

</div> -->

<app-place-holder id="position999"></app-place-holder>


<!-- <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul> -->