<div class="container-block h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-10 example-container pt-2 pb-2">
            <mat-card>
                <div class="col-12 float-left">
                    <img src="../../../../assets/images/logo.png">
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">

                        <div class="col-12 text-center">
                            <div class="header">Forgot your password?</div>
                            <div class="color">Fill in your email address and we'll help you to reset your password.</div>
                        </div>
                        <app-place-holder id="position11"></app-place-holder>
                    </div>
                    <div class="col-12 text-center">
                        <p class="color">Return to <a href="/" class="label-value">Login</a></p>

                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>